@charset "UTF-8";
body {
  font-family: "NanumSquare", sans-serif;
  color: #333;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.bolder {
  font-weight: 800;
}

.light {
  font-weight: 300;
}

.container {
  max-width: 540px;
}

#header .container {
  background-image: url(../img/bg_top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: calc(60px / 3);
  padding-right: calc(60px / 3);
  padding-top: calc(50px / 3);
  padding-bottom: calc(50px / 3);
}
#header .logo {
  margin-bottom: calc(50px / 3);
}
#header .logo h1 {
  margin-bottom: calc(20px / 3);
}
#header .logo h1 img {
  width: calc(388px / 3);
}
#header .logo small {
  font-size: calc(20px / 3);
  letter-spacing: calc(1px / 3);
  color: rgba(255, 255, 255, 0.5);
}
#header .welcome {
  padding: calc(90px / 3);
  height: calc(400px / 3);
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px calc(10px / 3) calc(10px / 3) 0px rgba(0, 0, 0, 0.1);
  border-radius: calc(20px / 3);
  font-size: calc(48px / 3);
}
#header .welcome img {
  width: calc(271px / 3);
}

#nav .nav-link {
  background-color: #333;
  color: #999;
  height: calc(108px / 3);
}
#nav .nav-link.active {
  background-color: #f5f5f5;
  color: #009fe3;
  font-weight: bold;
}

#main > .container {
  padding-left: calc(60px / 3);
  padding-right: calc(60px / 3);
  padding-bottom: calc(90px / 3);
  background-color: #f5f5f5;
}
#main > .container > section > header {
  padding-left: calc(20px / 3);
  padding-right: calc(20px / 3);
}
#main > .container > section .bar {
  margin-top: 0;
  margin-bottom: calc(40px / 3);
  width: calc(45px / 3);
  height: 1px;
  background-color: #333 !important;
}
#main > .container > section .section-title {
  margin-bottom: calc(70px / 3);
  font-size: calc(48px / 3);
}
#main > .container .notice {
  margin-top: calc(50px / 3);
  padding: calc(35px / 3);
}
#main > .container .notice li {
  display: flex;
  font-size: calc(32px / 3);
  line-height: calc(60px / 3);
}
#main > .container .notice li:before {
  margin-right: calc(10px / 3);
  content: "·";
}

#main.main .guide {
  margin-bottom: calc(30px / 3);
  padding-top: calc(60px / 3);
  padding-bottom: calc(60px / 3);
  font-size: calc(42px / 3);
  line-height: calc(68px / 3);
  color: #827878;
}
#main.main .tasks {
  padding-top: calc(55px / 3);
  margin-bottom: calc(105px / 3);
}
#main.main .tasks header {
  padding: 0;
}
#main.main .tasks header .section-title {
  color: #827878;
  line-height: calc(70px / 3);
}
#main.main .tasks .task-btns {
  border: 1px solid #d2d2d2;
  border-radius: calc(20px / 3);
  box-shadow: 0px calc(5px / 3) 0px 0px rgba(0, 0, 0, 0.06);
}
#main.main .tasks .task-btns > div {
  height: calc(240px / 3);
}
#main.main .tasks .task-btns > div label {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #999;
  font-weight: 800;
  font-size: calc(42px / 3);
  line-height: calc(70px / 3);
}
#main.main .tasks .task-btns > div label:first-of-type {
  border-top-left-radius: calc(20px / 3);
  border-bottom-left-radius: calc(20px / 3);
  border-right: 1px solid #d2d2d2;
}
#main.main .tasks .task-btns > div label:last-of-type {
  border-top-right-radius: calc(20px / 3);
  border-bottom-right-radius: calc(20px / 3);
}
#main.main .tasks .task-btns > div label .icon {
  margin-bottom: calc(10px / 3);
  width: calc(100px / 3);
  height: calc(100px / 3);
  background-size: 100% 100%;
}
#main.main .tasks .task-btns > div label[for=task-1] .icon {
  background-image: url(../img/ico_search_n.png);
}
#main.main .tasks .task-btns > div label[for=task-2] .icon {
  background-image: url(../img/ico_send_n.png);
}
#main.main .tasks .task-btns > div label[for=task-3] .icon {
  background-image: url(../img/ico_extend_n.png);
}
#main.main .tasks .task-btns > div label[for=task-4] .icon {
  background-image: url(../img/ico_refund_n.png);
}
#main.main .tasks .task-btns > div input[type=radio]:checked + label {
  background-color: #009fe3;
  color: white;
}
#main.main .tasks .task-btns > div input[type=radio]:checked + label[for=task-1] .icon {
  background-image: url(../img/ico_search_p.png);
}
#main.main .tasks .task-btns > div input[type=radio]:checked + label[for=task-2] .icon {
  background-image: url(../img/ico_send_p.png);
}
#main.main .tasks .task-btns > div input[type=radio]:checked + label[for=task-3] .icon {
  background-image: url(../img/ico_extend_p.png);
}
#main.main .tasks .task-btns > div input[type=radio]:checked + label[for=task-4] .icon {
  background-image: url(../img/ico_refund_p.png);
}
#main.main .verify {
  margin-bottom: calc(115px / 3);
}
#main.main .verify .form {
  margin-bottom: calc(50px / 3);
  border: 1px solid #d2d2d2;
  box-shadow: 0px calc(5px / 3) 0px 0px rgba(0, 0, 0, 0.06);
  border-radius: calc(15px / 3);
  background-color: #fff;
  padding: calc(40px / 3) calc(70px / 3);
}
#main.main .verify .form > div + div {
  margin-top: calc(100px / 3);
}
#main.main .verify .form .form-label {
  color: #827878;
  font-size: calc(32px / 3);
  margin-bottom: calc(10px / 3);
}
#main.main .verify .form .form-control {
  border-bottom: 1px solid #d2d2d2 !important;
  font-size: calc(42px / 3);
  font-weight: 800;
  height: calc(120px / 3);
  padding-left: calc(6px / 3);
  padding-right: calc(6px / 3);
}
#main.main .verify .form .form-control::placeholder {
  color: #b7b7b7;
  font-weight: 400;
}
#main.main .verify .agree {
  background-color: white;
}
#main.main .verify .agree .agree-header {
  padding: calc(42px / 3) calc(55px / 3);
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}
#main.main .verify .agree .agree-header label {
  margin-bottom: 0;
}
#main.main .verify .agree .agree-header label .text {
  margin-left: calc(30px / 3);
  font-size: calc(42px / 3);
  font-weight: 700;
  line-height: calc(68px / 3);
}
#main.main .verify .agree .agree-header label input[type=checkbox] + .icon {
  width: calc(68px / 3);
  height: calc(68px / 3);
  background-image: url(../img/ico_check.gif);
  background-size: 100% auto;
  background-position: 50% 0;
}
#main.main .verify .agree .agree-header label input[type=checkbox]:checked + .icon {
  background-position: 50% calc(-68px / 3);
}
#main.main .verify .agree .agree-body {
  padding: calc(50px / 3) calc(100px / 3);
  font-size: calc(36px / 3);
  line-height: calc(52px / 3);
}
#main.main .verify .btn-verify-number {
  width: calc(266px / 3);
  height: calc(78px / 3);
  border: 1px solid #333333;
  font-size: calc(36px / 3);
  color: #333;
  font-weight: 800;
  position: absolute;
  bottom: calc(24px / 3);
  right: 0;
  background-color: white;
}
#main.main .verify .btn-verify {
  height: calc(145px / 3);
  background-color: #009fe3;
  color: white;
  font-size: calc(48px / 3);
  font-weight: 800;
}
#main.main .verify #time-limit {
  font-size: calc(42px / 3);
  line-height: calc(42px / 3);
  color: #ff4704;
  position: absolute;
  bottom: calc(45px / 3);
  right: 0;
}
#main.main .warning .warning-body {
  padding: calc(60px / 3) calc(30px / 3);
  background-color: white;
  font-size: calc(36px / 3);
  line-height: calc(52px / 3);
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}
#main.main .warning .warning-body li {
  display: flex;
}
#main.main .warning .warning-body li:before {
  content: "-";
  margin-right: calc(30px / 3);
}

#main.search .container {
  padding: calc(75px / 3) calc(60px / 3);
}
#main.search .form {
  margin-bottom: calc(60px / 3);
  border: 1px solid #d2d2d2;
  box-shadow: 0px calc(5px / 3) 0px 0px rgba(0, 0, 0, 0.06);
  border-radius: calc(15px / 3);
  background-color: #fff;
  padding: calc(90px / 3) calc(70px / 3) calc(40px / 3);
}
#main.search .form .form-label {
  color: #827878;
  font-size: calc(32px / 3);
  margin-bottom: calc(10px / 3);
}
#main.search .form .form-control {
  border-bottom: 1px solid #d2d2d2 !important;
  font-size: calc(42px / 3);
  font-weight: 800;
  height: calc(120px / 3);
  padding-left: calc(6px / 3);
  padding-right: calc(6px / 3);
}
#main.search .form .form-control::placeholder {
  color: #b7b7b7;
  font-weight: 400;
}
#main.search .form .btn-search-coupon {
  width: calc(140px / 3);
  height: calc(78px / 3);
  border: 1px solid #333333;
  font-size: calc(36px / 3);
  color: #333;
  font-weight: 800;
  position: absolute;
  bottom: calc(24px / 3);
  right: 0;
  background-color: white;
}
#main.search .result {
  margin-bottom: calc(45px / 3);
  background-color: white;
  padding: calc(80px / 3) calc(70px / 3);
  border: 1px solid #d2d2d2;
  box-shadow: 0px calc(5px / 3) 0px 0px rgba(0, 0, 0, 0.06);
}
#main.search .result header {
  margin-bottom: calc(120px / 3);
}
#main.search .result .balance {
  margin-bottom: calc(60px / 3);
  font-size: calc(140px / 3);
  color: #2c2e87;
  font-weight: 800;
}
#main.search .result .balance small {
  font-size: calc(80px / 3);
}
#main.search .result .balance.no-balance {
  color: rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2), 0 0 0 rgba(0, 0, 0, 0.2);
}
#main.search .result dl {
  margin-bottom: calc(30px / 3);
}
#main.search .result dl dt {
  margin-top: calc(10px / 3);
  font-size: calc(32px / 3);
  color: #827878;
}
#main.search .result dl dd {
  margin-left: calc(25px / 3);
  font-size: calc(48px / 3);
}
#main.search .result.no-result {
  height: calc(590px / 3);
  background-image: url(../img/ico_exclaim.png);
  background-size: calc(236px / 3) calc(208px / 3);
  background-repeat: no-repeat;
  background-position: calc(100% - (70px / 3)) calc(100% - (80px / 3));
}
#main.search .result.no-result .section-title {
  line-height: 1.4;
}
#main.search .btn-area .btn {
  width: 100%;
  height: calc(144px / 3);
  background: #009fe3;
  color: white;
  font-weight: 800;
  font-size: calc(48px / 3);
}

main.error .container {
  padding: calc(110px / 3) calc(85px / 3);
}
main.error .error-message {
  margin-bottom: calc(80px / 3);
}
main.error .error-message h1 {
  font-size: calc(90px / 3);
  font-weight: 800;
  line-height: calc(120px / 3);
}
main.error .error-message hr {
  margin-top: calc(70px / 3);
  margin-bottom: calc(80px / 3);
  width: calc(45px / 3);
  border-color: #424242 !important;
  opacity: 1;
}
main.error .error-message p {
  font-size: calc(48px / 3);
  line-height: calc(80px / 3);
  color: #333;
}
main.error .check-time h6 {
  color: #333;
  font-weight: 800;
  font-size: calc(48px / 3);
  line-height: calc(80px / 3);
}
main.error .check-time p {
  color: #009fe3;
  font-weight: 800;
  font-size: calc(48px / 3);
  line-height: calc(80px / 3);
}
main.error .notice {
  margin-top: calc(600px / 3) !important;
}

#footer .container {
  padding: calc(100px / 3) calc(90px / 3);
  padding-right: calc(90px / 3);
  background-color: #333;
  font-size: calc(32px / 3);
  line-height: calc(60px / 3);
  color: white;
}
#footer .container a {
  color: white;
  text-decoration: none;
}
#footer .container h2 {
  margin-bottom: calc(40px / 3);
}
#footer .container h2 img {
  width: calc(316px / 3);
}
#footer .container .contact ul {
  margin-bottom: calc(60px / 3);
}
#footer .container .contact ul li {
  font-weight: 700;
  margin-right: calc(38px / 3);
}
#footer .container .company h6 {
  margin: 0;
  font-size: calc(32px / 3);
  line-height: calc(60px / 3);
}
#footer .container .company address {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
