body {
    font-family: 'NanumSquare', sans-serif;
    color: #333;
}
.normal		{ font-weight: 400 }
.bold		{ font-weight: 700 }
.bolder		{ font-weight: 800 }
.light		{ font-weight: 300 }
.container {
    max-width: 540px;
}
#header {
    .container {
        background-image: url(../img/bg_top.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: calc(60px / 3);
        padding-right: calc(60px / 3);
        padding-top: calc(50px / 3);
        padding-bottom: calc(50px / 3);
    }
    .logo {
        margin-bottom: calc(50px / 3);
        h1 {
            margin-bottom: calc(20px / 3);
            img {
                width: calc(388px / 3);
            }
        }
        small {
            font-size: calc(20px / 3);
            letter-spacing: calc(1px / 3);
            color: rgba(255, 255, 255, .5);
        }
    }
    .welcome {
        padding: calc(90px / 3);
        height: calc(400px / 3);
        background-color: rgba(255, 255, 255, .95);
        box-shadow: 0px calc(10px / 3) calc(10px / 3) 0px rgba(0, 0, 0, 0.1);
        border-radius: calc(20px / 3);
        font-size: calc(48px / 3);
        img {
            width: calc(271px / 3);
        }
    }
}

#nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    .nav-link {
        background-color: #333;
        color: #999;
        height: calc(108px / 3);
        &.active {
            background-color: #f5f5f5;
            color: #009fe3;
            font-weight: bold;
        }
    }
}

#main {
    > .container {
        padding-left: calc(60px / 3);
        padding-right: calc(60px / 3);
        padding-bottom: calc(90px / 3);
        background-color: #f5f5f5;
        > section {
            > header {
                padding-left: calc(20px / 3);
                padding-right: calc(20px / 3);
            }
            .bar {
                margin-top: 0;
                margin-bottom: calc(40px / 3);
                width: calc(45px / 3);
                height: 1px;
                background-color: #333 !important;
            }
            .section-title {
                margin-bottom: calc(40px / 3);
                font-size: calc(48px / 3);
            }
        }
        .notice {
            margin-top: calc(50px / 3);
            padding: calc(35px / 3);
            li {
                display: flex;
                font-size: calc(32px / 3);
                line-height: calc(60px / 3);
                &:before {
                    margin-right: calc(10px / 3);
                    content: '·';
                }
            }
        }
        .faq-list {
            .accordion-item:first-of-type,
            .accordion-item:last-of-type {
                .accordion-button {
                    border-radius: 0;
                }
            }
            .accordion-item {
                .accordion-button,
                .accordion-collapse {
                    border-left: 0;
                    border-right: 0;
                }
                .accordion-button {
                    padding-left: 0;
                    padding-right: 0;
                    font-size: calc(42px / 3);
                    color: #333;
                    text-align: left;
                    .num {
                        flex: 0 0 calc(72px / 3);
                        margin-right: calc(30px / 3);
                        font-size: calc(32px / 3);
                        color: #827878;
                        text-align: center;
                    }
                    &:not(.collapsed) {
                        background-color: white;
                    }
                    &::after {
                        flex: 0 0 calc(110px / 3);
                        // margin-right: calc(40px / 3);
                        background-image: url(../img/ico_caret.svg);
                        background-size: calc(30px / 3) auto;
                        background-position: 50% 50%;
                    }
                }
                .accordion-collapse {
                    background-color: white;
                }
                .accordion-body {
                    padding-left: calc(96px / 3);
                    font-size: calc(36px / 3);
                    line-height: calc(52px / 3);
                    color: #333;
                }
            }
        }
        .tasks {
            // padding-top: calc(55px / 3);
            margin-bottom: calc(105px / 3);
            header {
                padding: 0;
                .section-title {
                    color: #827878;
                    line-height: calc(70px / 3);
                }
            }
            .task-btns {
                border: 1px solid #d2d2d2;
                border-radius: calc(20px / 3);
                box-shadow: 0px calc(5px / 3) 0px 0px rgba(0, 0, 0, 0.06);
                > div {
                    height: calc(240px / 3);
                    & + div {
                        border-top: 1px solid #d2d2d2;
                        // &:first-of-type {
                        //     border-top-left-radius: calc(20px / 3);
                        //     border-bottom-left-radius: calc(20px / 3);
                        // }
                        // &:last-of-type {
                        //     border-top-right-radius: calc(20px / 3);
                        //     border-bottom-right-radius: calc(20px / 3);
                        // }
                    }
                    &:nth-of-type(1) {
                        .task:nth-of-type(1) {
                            border-top-left-radius: calc(20px / 3);
                        }
                        .task:nth-of-type(2) {
                            border-top-right-radius: calc(20px / 3);
                        }
                    }
                    &:nth-of-type(2) {
                        .task:nth-of-type(1) {
                            border-bottom-left-radius: calc(20px / 3);
                        }
                        .task:nth-of-type(2) {
                            border-bottom-right-radius: calc(20px / 3);
                        }
                    }
                    .task {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                        color: #999;
                        font-weight: 800;
                        font-size: calc(42px / 3);
                        line-height: calc(70px / 3);
                        text-decoration: none;
                        & ~ .task {
                            border-left: 1px solid #d2d2d2;
                        }
                        .icon {
                            margin-bottom: calc(10px / 3);
                            width: calc(100px / 3);
                            height: calc(100px / 3);
                            background-size: 100% 100%;
                        }
                        &.task-1 {
                            .icon {
                                background-image: url(../img/ico_search_n.png);
                            }
                        }
                        &.task-2 {
                            .icon {
                                background-image: url(../img/ico_send_n.png);
                            }
                        }
                        &.task-3 {
                            .icon {
                                background-image: url(../img/ico_extend_n.png);
                            }
                        }
                        &.task-4 {
                            .icon {
                                background-image: url(../img/ico_refund_n.png);
                            }
                        }
                    }
                    input[type="radio"] {
                        &:checked {
                            & + label {
                                background-color: #009fe3;
                                color: white;
                                &[for="task-1"] {
                                    .icon {
                                        background-image: url(../img/ico_search_p.png);
                                    }
                                }
                                &[for="task-2"] {
                                    .icon {
                                        background-image: url(../img/ico_send_p.png);
                                    }
                                }
                                &[for="task-3"] {
                                    .icon {
                                        background-image: url(../img/ico_extend_p.png);
                                    }
                                }
                                &[for="task-4"] {
                                    .icon {
                                        background-image: url(../img/ico_refund_p.png);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .warning {
            .warning-body {
                padding: calc(60px / 3) calc(30px / 3);
                background-color: white;
                font-size: calc(36px / 3);
                line-height: calc(52px / 3);
                border-top: 1px solid #d2d2d2;
                border-bottom: 1px solid #d2d2d2;
                li {
                    display: flex;
                    &:before {
                        content: '-';
                        margin-right: calc(30px / 3);
                    }
                }
            }
        }
    }
}

#main.main {
    .container {
        padding: calc(75px / 3) calc(60px / 3);
    }
    .guide {
        margin-bottom: calc(30px / 3);
        padding-top: calc(60px / 3);
        padding-bottom: calc(60px / 3);
        font-size: calc(42px / 3);
        line-height: calc(68px / 3);
        color: #827878;
    }
    .faq {
        header {
            .more {
                color: #343434;
                font-size: calc(42px / 3);
            }
        }
    }
}

#main.search {
    .container {
        padding: calc(75px / 3) calc(60px / 3);
    }
    .verify {
        margin-bottom: calc(115px / 3);
        .form {
            margin-bottom: calc(50px / 3);
            border: 1px solid #d2d2d2;
            box-shadow: 0px calc(5px / 3) 0px 0px rgba(0, 0, 0, 0.06);
            border-radius: calc(15px / 3);
            background-color: #fff;
            padding: calc(40px / 3) calc(70px / 3);
            > div {
                & + div {
                    margin-top: calc(100px / 3);
                }
            }
            .form-label {
                color: #827878;
                font-size: calc(32px / 3);
                margin-bottom: calc(10px / 3);
            }
            .form-control {
                border-bottom: 1px solid #d2d2d2 !important;
                font-size: calc(42px / 3);
                font-weight: 800;
                height: calc(120px / 3);
                padding-left: calc(6px / 3);
                padding-right: calc(6px / 3);
                &::placeholder {
                    color: #b7b7b7;
                    font-weight: 400;
                }
            }
        }
        
        .btn-verify-number {
            width: calc(266px / 3);
            height: calc(78px / 3);
            border: 1px solid #333333;
            font-size: calc(36px / 3);
            color: #333;
            font-weight: 800;
            position:  absolute;
            bottom: calc(24px / 3);
            right: 0;
            background-color: white;
        }
        .btn-verify {
            height: calc(145px / 3);
            background-color: #009fe3;
            color: white;
            font-size: calc(48px / 3);
            font-weight: 800;
        }
        #time-limit {
            font-size: calc(42px / 3);
            line-height: calc(42px / 3);
            color: #ff4704;
            position: absolute;
            bottom: calc(45px / 3);
            right: 0;
        }
    }
    .agree {
        margin-bottom: calc(115px / 3);
        background-color: white;
        .agree-header {
            padding: calc(42px / 3) calc(55px / 3);
            border-top: 1px solid #d2d2d2;
            border-bottom: 1px solid #d2d2d2;
            label {
                margin-bottom: 0;
                .text {
                    margin-left: calc(30px / 3);
                    font-size: calc(42px / 3);
                    font-weight: 700;
                    line-height: calc(68px / 3);
                }
                input[type="checkbox"] {
                    & + .icon {
                        width: calc(68px / 3);
                        height: calc(68px / 3);
                        background-image: url(../img/ico_check.gif);
                        background-size: 100% auto;
                        background-position: 50% 0;
                    }
                    &:checked + .icon {
                        background-position: 50% calc(-68px / 3);
                    }
                }
            }
        }
        .agree-body {
            padding: calc(50px / 3) calc(100px / 3);
            font-size: calc(36px / 3);
            line-height: calc(52px / 3);
        }
        .btn-agree-info {
            img {
                width: calc(30px / 3);
                transform: rotate(180deg);
            }
            &.collapsed {
                img {
                    transform: rotate(0deg);
                }
            }
        }
    }
    .result {
        .form {
            border: 10px solid black;
            margin-bottom: calc(60px / 3);
            border: 1px solid #d2d2d2;
            box-shadow: 0px calc(5px / 3) 0px 0px rgba(0, 0, 0, 0.06);
            border-radius: calc(15px / 3);
            background-color: #fff;
            padding: calc(90px / 3) calc(70px / 3) calc(40px / 3);
            .form-label {
                color: #827878;
                font-size: calc(32px / 3);
                margin-bottom: calc(10px / 3);
            }
            .form-control {
                border-bottom: 1px solid #d2d2d2 !important;
                font-size: calc(42px / 3);
                font-weight: 800;
                height: calc(120px / 3);
                padding-left: calc(6px / 3);
                padding-right: calc(6px / 3);
                &::placeholder {
                    color: #b7b7b7;
                    font-weight: 400;
                }
            }
            .btn-search-coupon {
                width: calc(140px / 3);
                height: calc(78px / 3);
                border: 1px solid #333333;
                font-size: calc(36px / 3);
                color: #333;
                font-weight: 800;
                position:  absolute;
                bottom: calc(24px / 3);
                right: 0;
                background-color: white;
            }
        }
        .coupon {
            background-color: white;
            border: 1px solid #d2d2d2;
            margin-bottom: calc(45px / 3);
            header {
                margin-bottom: calc(120px / 3)
            }
            &.searched {
                padding: calc(80px / 3) calc(70px / 3);
                box-shadow: 0px calc(5px / 3) 0px 0px rgba(0, 0, 0, 0.06);
                .balance {
                    margin-bottom: calc(60px / 3);
                    font-size: calc(140px / 3);
                    color: #2c2e87;
                    font-weight: 800;
                    small {
                        font-size: calc(80px / 3);
                    }
                    &.no-balance {
                        color: rgba(0, 0, 0, 0.1);
                        text-shadow: 1px 1px 0 rgba(#fff, .2), 0 0 0 rgba(#000, .2);
                    }
                }
                dl {
                    margin-bottom: calc(30px / 3);
                    dt {
                        margin-top: calc(10px / 3);
                        font-size: calc(32px / 3);
                        color: #827878;
                    }
                    dd {
                        margin-left: calc(25px / 3);
                        font-size: calc(48px / 3);
                    }
                }
            }
            &.resendable {
                border: 0;
                > div {
                    border-top: 1px solid #d2d2d2;
                    border-left: 1px solid #d2d2d2;
                    border-right: 1px solid #d2d2d2;
                    padding: calc(45px / 3) calc(70px / 3) 0;
                    h4 {
                        margin-bottom: calc(30px / 3);
                        color: #2c2e87;
                        font-size: calc(42px / 3);
                        line-height: 2;
                        text-align: center;
                        font-weight: bold;
                    }
                    dl {
                        padding-top: calc(40px / 3);
                        padding-bottom: calc(40px / 3);
                        border-top: 1px solid #d2d2d2;
                        display: flex;
                        align-items: center;
                        margin: 0;
                        dt, dd {
                            font-size: calc(32px / 3);
                            line-height: calc(40px / 3);
                        }
                        dt {
                            flex: 0 0 auto;
                            color: #827878;
                        }
                        dd {
                            flex: 1 1 auto;
                            margin: 0;
                            text-align: right;
                            color: #333;
                        }
                    }
                }
                .btn-resend {
                    height: calc(145px / 3);
                    background-color: #009fe3;
                    border-radius: 0;
                    color: white;
                    font-weight: bold;
                    width: 100%;
                    font-size: calc(48px / 3);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:disabled {
                        background-color: #b7b7b7;
                    }
                    img {
                        margin-right: calc(35px / 3);
                        width: calc(100px / 3);
                    }
                }
            }
            &.none {
                padding: calc(80px / 3) calc(70px / 3);
                box-shadow: 0px calc(5px / 3) 0px 0px rgba(0, 0, 0, 0.06);
                height: calc(590px / 3);
                background-image: url(../img/ico_exclaim.png);
                background-size: calc(236px / 3) calc(208px / 3);
                background-repeat: no-repeat;
                background-position: calc(100% - (70px / 3)) calc(100% - (80px / 3));
                .section-title {
                    line-height: 1.4;
                }
            }
        }
        .more {
            text-align: center;
            a {
                font-size: calc(42px / 3);
                color: #343434;
                font-weight: bold;
            }
        }
    }
    .btn-area {
        .btn {
            width: 100%;
            height: calc(144px / 3);
            background: #009fe3;
            color: white;
            font-weight: 800;
            font-size: calc(48px / 3);
        }
    }
}

#main.result {}

#main.error {
    .container {
        padding: calc(110px / 3) calc(85px / 3);
    }
    .error-message {
        margin-bottom: calc(80px / 3);
        h1 {
            font-size: calc(90px / 3);
            font-weight: 800;
            line-height: calc(120px / 3);
        }
        hr {
            margin-top: calc(70px / 3);
            margin-bottom: calc(80px / 3);
            width: calc(45px / 3);
            border-color: #424242 !important;
            opacity: 1;
        }
        p {
            font-size: calc(48px / 3);
            line-height: calc(80px / 3);
            color: #333;
        }
    }
    .check-time {
        h6 { 
            color: #333;
            font-weight: 800;
            font-size: calc(48px / 3);
            line-height: calc(80px / 3);
        }
        p {
            color: #009fe3;
            font-weight: 800;
            font-size: calc(48px / 3);
            line-height: calc(80px / 3);
        }
    }
    .notice {
        margin-top: calc(600px / 3) !important;
    }
}

#footer {
    .container { 
        padding: calc(100px / 3) calc(90px / 3);
        padding-right: calc(90px / 3);
        background-color: #333;
        font-size: calc(32px / 3);
        line-height: calc(60px / 3);
        color: white;
        a {
            color: white;
            text-decoration: none;
        }
        h2 {
            margin-bottom: calc(40px / 3);
            img {
                width: calc(316px / 3);
            }
        }
        .contact {
            ul {
                margin-bottom: calc(60px / 3);
                li {
                    font-weight: 700;
                    margin-right: calc(38px / 3);
                }
            }
        }
        .company {
            h6 {
                margin: 0;
                font-size: calc(32px / 3);
                line-height: calc(60px / 3);
            }
            address {
                margin: 0;
            }
        }
        .policy {
            a {
                color: rgb(142, 180, 227);
            }
        }
    }
}

#main.faq {
    .container {
        padding-top: calc(75px / 3);
        padding-bottom: calc(100px / 3);
    }
    .faq-nav {
        overflow: hidden;
        margin-bottom: calc(60px / 3);
        width: 100%;
        padding-top: 1px;
        padding-left: 1px;
        li {
            position: relative;
            margin-top: -1px;
            margin-left: -1px;
            float: left;
            width: calc(25% + 1px);
            height: calc(120px / 3 + 1px);
            a {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                width: 100%;
                height: 100%;
                color: #b7b7b7;
                text-align: center;
                font-size: calc(36px / 3);
                font-weight: bold;
                text-decoration: none;
                border: 1px solid #d2d2d2;
            }
            &.active {
                z-index: 1;
                border-color: #333;
                background-color: #fff;
                a {
                    color: #333;
                    border: 1px solid #000;
                }
            }
        }
    }
}

#main.refund {
    .container {
        padding-top: calc(50px / 3);
    }
    .details {
        margin-bottom: calc(100px / 3);
        dl {
            display: flex;
            align-items: center;
            border-top: 1px solid white;
            border-bottom: 1px solid #d2d2d2;
            margin-bottom: 0;
            min-height: calc(150px / 3);
        }
        dt {
            padding-left: calc(27px / 3);
            padding-right: calc(27px / 3);
            padding-top: calc(30px / 3);
            padding-bottom: calc(30px / 3);
            font-size: calc(32px / 3);
            color: #827878;
            flex: 0 0 calc(210px / 3);
        }
        dd {
            margin-bottom: 0;
            margin-left: auto;
            padding-left: calc(42px / 3);
            padding-right: calc(42px / 3);
            padding-top: calc(30px / 3);
            padding-bottom: calc(30px / 3);
        }
        .product-name {
            dd {
                font-size: calc(42px / 3);
                color: #333;
            }
        }
        .refund-price {
            dd {
                font-size: calc(60px / 3);
                color: #2c2e87;
                font-weight: bolder;
                span {
                    font-size: calc(42px / 3);
                }
            }
        }
        .details-body {
            border-bottom: 1px solid white;
            border-top: 1px solid #d2d2d2;
        }
    }
    .account {
        .form {
            margin-bottom: calc(50px / 3);
            border: 1px solid #d2d2d2;
            box-shadow: 0px calc(5px / 3) 0px 0px rgba(0, 0, 0, 0.06);
            border-radius: calc(15px / 3);
            background-color: #fff;
            padding: calc(40px / 3) calc(70px / 3);
            > div {
                & + div {
                    margin-top: calc(100px / 3);
                }
            }
            .form-label {
                color: #827878;
                font-size: calc(32px / 3);
                margin-bottom: calc(10px / 3);
            }
            .form-control {
                border-bottom: 1px solid #d2d2d2 !important;
                font-size: calc(42px / 3);
                font-weight: 800;
                height: calc(120px / 3);
                padding-left: calc(6px / 3);
                padding-right: calc(6px / 3);
                &::placeholder {
                    color: #b7b7b7;
                    font-weight: 400;
                }
            }
            .btn-confirm-account {
                width: calc(220px / 3);
                height: calc(78px / 3);
                border: 1px solid #333333;
                font-size: calc(36px / 3);
                color: #333;
                font-weight: 800;
                position:  absolute;
                bottom: calc(24px / 3);
                right: 0;
                background-color: white;
            }
            #bank {
                background-image: url(../img/ico_caret.svg);
                background-size: calc(30px / 3) calc(15px / 3);
                background-repeat: no-repeat;
                background-position: calc(100% - 6px) 50%;
            }
        }
        .btn-area {
            display: flex;
            .btn {
                flex: 1 1 50%;
                border-radius: 0;
                height: calc(144px / 3);
                font-weight: bold;
                font-size: calc(48px / 3);
                color: #fff;
            }
            .btn-cancel {
                background-color: #333;
            }
            .btn-request {
                background-color: #009fe3;
            }
        }
    }
}